apiVersion: v1
kind: Service
metadata:
  name: optit-lab-react-service
  namespace: optit-lab-react
spec:
  selector:
    app: optit-lab-react
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  type: NodePort
